@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap');
@import url('./assets/font/themify-icons/themify-icons.css');

@import url("./assets/styles/toast-message.css");
@import url("./styles/responstive.css");

:root {
    --primary-color: #39ba18;
    --input-color: #1c6c08;
    --text-gray: #aaadac;
    --text-highlight-color: #006949;
    --border-color: #ccc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Signika Negative', sans-serif;

}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;

}

body {
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
}

@keyframes notiAppear {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0.25;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}


