/* --------Stylesheet for the Navigation component ------*/
#nav {
    display: flex;
    width: 100%;
    height: 60px;
    padding: 0 20px;
    background-image: transparent;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

.nav__logo {
    display: block;
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--primary-color);
    padding: 10px 6px;
    cursor: pointer;
}

.nav__group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.nav__option {
    display: block;
}

.nav__option-btn {
    margin: 0 20px 0 0;
    padding: 8px 20px;
    font-size: 1.8rem;
    border: none;
    background-color: transparent;
    color: var(--text-gray);
}

.nav__option-btn:hover {
    cursor: pointer;
    color: #333;
}

.nav__option-btn:last-child {
    margin-right: 0;
}

.nav-notification {
    display: block;
    position: relative;
}

.nav-notification__btn {
    padding: 8px 20px;
    font-size: 2.6rem;
    border: none;
    background-color: transparent;
    color: var(--text-gray);
    position: relative;
}

.nav-notification__btn::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 20px;
    background-color: transparent;
    z-index: 10;
    
}

.nav-notification__icon {
    cursor: pointer;
}

.nav-notification__btn:hover+.nav-notification__box {
    display: block;
}

.nav-notification__box {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 10px;
    border: 1px solid var(--border-color);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}

.nav-notification__box:hover {
    display: block;
}

.nav-notification__item {
    list-style: none;
    margin: 2px 0 4px;
    width: 200px;
    background-color: #f4f4f4;
    border-radius: 6px;
    padding: 6px;
    display: flex;
    justify-content: space-between;
    color: var(--text-gray);
}

.nav-notification__item-content {
    font-size: 1.2rem;
    color: #000;
    flex: 1;
    margin: 0 4px 0 0
}

.nav-notification__owner {
    margin-right: 3px;
    font-weight: 600;
    color: var(--text-highlight-color);
}

.nav-notification__product {
    margin: 0 3px;
    color: red;
}

.nav-notification__item-time {}

.nav__account {
    display: flex;
    gap: 20px;
}

.nav__account-info {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 2rem;
    color: #444;
}

.nav__account-name {}

.nav__account-char {
    margin: 0 6px;
}

.nav__account-balence {
    color: red;
    font-size: 2.2rem
}

.nav__account-btn {
    padding: 8px 14px;
    font-size: 1.8rem;
    border: 1px solid var(--text-gray);
    background-color: transparent;
    color: var(--text-gray);
    border-radius: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    max-height: 36px;
}

.nav__account-btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.nav__account-btn--login {
    color: #39ba18;
}

.nav__account-btn--register {
    color: #fff;
    background-color: #39ba18;
    border-color: #39ba18;
}

.nav__account-btn-icon {
    margin-left: 4px;
    transform: translateY(1px)
}

.nav-mobile {
    display: none;
    height: 60px;
    width: 100%;
    padding: 0 0 0px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.nav-mobile__btn {
    width: 20%;
    display: block;
    padding: 6px 4px;
    background-color: #fff;
    color: var(--text-gray);
    cursor: pointer;
}

.nav-mobile__btn--active {
    color: var(--primary-color);
    background-color: #eee;
}

.nav-mobile__btn-icon {
    display: block;
    padding: 4px;
    text-align: center;
    font-size: 2rem;
}

.nav-mobile__btn-name {
    display: block;
    padding: 4px 0;
    text-align: center;
    font-size: 1.2rem;
}