/* Mobile & Tablet */
@media (max-width: 1023px) {
    :root {}

    .hide-on-mobile-tablet {
        display: none;
    }

    .header--logo {
        margin-left: 8px;
    }

    .header-search__input {
        margin-left: 12px;
    }

}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }
}

/* Mobile */
@media screen and (max-width: 739px) {
    :root {}

    .hide-on-mobile {
        display: none;
    }

    .show-on-mobile {
        display: block;
    }

    #toast {
        top: 10px;
        right: 10px;
        left: 10px;
    }

    .toast {
        max-width: unset;
        min-width: unset;
        width: 100%;
    }

    .login-page__container {
        width: calc(100% - 20px);
        margin: 20px 10px 60px 10px;
        height: unset;
    }

    .login-page__title {
        font-size: 3rem;
    }

    .login-page__col {
        width: 100%;
    }

    .login-page__label-login {
        font-size: 2.8rem;
        line-height: 3.2rem;
    }

    .login-page__label {
        font-size: 1.6rem;
    }

    .login-page__input {
        font-size: 1.4rem;
    }

    .login-page__btn {
        width: 100%;
    }

    .login-page__option {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 0;
        justify-content: center;
        padding: 0;
        margin-bottom: 20px;
        width: 100%;
    }

    .login-page__btn-other {
        display: flex;
        /* justify-content: space-between; */
        min-width: 100%;
        margin: 10px;
    }

    .nav-mobile {
        display: flex;
    }

    .nav__logo {
        padding-left: 0;
        font-size: 2rem;
        line-height: 2.4rem;
    }

    .nav-notification__btn {
        padding: 8px 0px;
    }

    .nav__account {
        gap: 10px;
    }

    .nav__account-name {
        font-size: 1.4rem;
    }

    .nav__account-balence {
        font-size: 1.2rem
    }

    .nav__account-btn {
        font-size: 1.2rem;
    }

    /* Responsive Home */
    .home__container {
        display: flex;
        flex-direction: column;
        margin-bottom: 60px;

        overflow-y: scroll;
    }

    .home__items {
        margin: 6px;
    }

    .home__content {
        padding: 0;
    }

    .home__items-label {
        font-size: 2.2rem;
        padding: 10px 0;
    }

    .home__items-description {
        font-size: 1.2rem;
        padding: 6px 0 12px;
        line-height: 1.6rem;
    }


    /* Responsive ListPage */

    .list__title {
        line-height: 3rem;
    }

    .list__panel {
        display: none;
    }

    .list__sort {
        margin: 10px 10px 20px;
        width: calc(100% - 20px);
    }

    .list__sort-title {
        display: block;
        padding: 10px 0;
    }

    .list__sort-btn {
        margin: 6px 4px 6px 0;
    }

    .list__item {
        width: calc(50% - 16px);
        height: 300px;
    }

    .list__item-img {
        height: 60%
    }

    /* ------------Bididng Page------------------ */
    .bidding__table-container {
        overflow-x: scroll;
    }

    .bidding__body-data--empty {
        display: none;
    }

    /* ------------fund Page------------------ */
    .fund__header {}

    .fund__box {
        width: calc(100% - 20px);
        padding: 20px;
    }

    .fund__info {
        display: none;
    }

    .fund__tilte_cash {
        font-size: 2.4rem;
        font-weight: bold;
        margin: 30px 0 40px;
    }

    .fund__input-cash {
        width: 100%;
        margin: 10px 0;
    }

    .fund__btn {
        display: block;
        width: 100%;
        padding: 10px 20px;
        margin: 40px 0 40px;
    }
}